.cardImg1, .cardImg2 {
    height: 300px;
    display: flex;
    flex-direction: column;
    
}

img {
    width: auto;
    height: 100%;
}

.braveryContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-grow: 1;
    padding: 1.5em;
    box-shadow: rgb(204, 204, 204) 0px 0px 0.714286rem;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
}

.cardImages {
    display: flex;
    gap: 1em;
}

.braveryContent {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}