.header li {
    margin: 0;

}

.homeLink a { 
    padding: 10px 0;
}

li a {
    display: flex;
    flex-grow: 1;
    padding: 20px 0;
}

.header h1 {
    margin: 0;
}

li a:hover {
    color: grey;
}


.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    gap: 1em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1em;
    border-bottom: solid grey;
    margin-bottom: 2rem;
    background-color: #ae9e9b;
    min-height: 5%;
  }